.broadway-widget {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr 1fr;
}

.d3-visualization,
.input-card,
.stats-card,
.legend-card {
  border: 1px solid $orange;
  background-color: transparentize($color: $orange, $amount: 0.9);
  border-radius: 3px;
  padding: 12px;
}

.input-card,
.stats-card,
.legend-card {
  display: flex;
  flex-direction: column;
  > * + * {
    margin-top: 10px;
  }
}

.d3-visualization {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.input-card {
  &__expense-input {
    p {
      padding-bottom: 3px;
      color: $orange;
      font-size: 11px;
      font-weight: bold;
    }
    input {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      color: $white;
      font-size: 16px;
      max-width: 100px;
      &::placeholder {
        color: $white;
      }
    }
  }
}

.stats-card {
  &__stat {
    color: $orange;
    p {
      &:first-of-type {
        font-size: 11px;
        font-weight: bold;
        padding-bottom: 3px;
      }
      &:nth-of-type(2) {
        color: $white;
      }
    }
  }
}

.legend-card {
  &__toggle {
    p {
      color: $orange;
      font-size: 11px;
      font-weight: bold;
    }
  }

  .MuiSwitch-root {
    margin-left: -11px;
  }

  &--cum-total {
    .MuiSwitch-root {
      .MuiSwitch-switchBase {
        color: $gray;
      }
      .Mui-checked {
        color: $light-blue;
      }
      .MuiSwitch-track {
        background-color: $light-blue;
      }
    }
  }

  &--week-total {
    .MuiSwitch-root {
      .MuiSwitch-switchBase {
        color: $gray;
      }
      .Mui-checked {
        color: $white;
      }
      .MuiSwitch-track {
        background-color: $light-blue;
      }
    }
  }
}
