body {
  margin: 0;
  font-family: Gilroy, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
}

* {
  -ms-overflow-style: none;
  box-sizing: border-box;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

:focus {
  outline: 0 !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
label,
a {
  margin: 0;
  font-style: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
