// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$white: #ffffff;
$black: #000000;
$gray: #adadad;
$light-blue: #43b4c2;
$orange: rgb(255, 91, 73);
